<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Main JS (navbar.js, katex_init.js and masonry_init.js)-->
    <script defer=true src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

    <!--Favicon-->
    <link rel="shortcut icon" href="{{ site.favicon | relative_url }}" type="image/x-icon">

    <!-- Canonical -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

    <!-- RSS -->
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ 'feed.xml' | absolute_url }}"/>
    
    {% if page.bootstrap %}
    <!-- Bootstrap-4.1.3 isolation CSS -->
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/vendor/bootstrap-iso.min.css' | relative_url }}">

    <!-- JQuery 3.3.1 -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Bootstrap 4.1.3 compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Popper, a dependency of Bootstrap-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    {% endif %}

    <!-- KaTeX 0.8.3 -->
    <!-- if you have any issue check https://github.com/KaTeX/KaTeX -->
    {% if site.katex or site.theme_settings.katex %}
    <script src="{{ '/assets/js/vendor/katex.min.js' | relative_url }}"></script>
    {% endif %}

    <!-- Google Analytics -->
    {% if site.google_analytics %}
    <!-- Global site tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ site.google_analytics }}');
    </script>
    
    <!-- Page analysis (analytics.js) -->
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %} <!-- End Google Analytics -->

    <!-- seo tags -->
    {% seo %}
    <!-- Manual seo tags -->
    <!--
    <title>{% if page.title %}{{ page.title }} |{% endif %} {{ site.title }}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    -->

    <!-- Indieweb -->
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link href="https://infominer.id" rel="me"/>
    <link href="mailto:infominer@protonmail.com" rel="me">	

    <!-- Indieweb Not Using
    <script id="webmention-hosted" src="https://webmention.herokuapp.com/api/embed?example"></script>
<link href="https://micro.blog/infominer" rel="me" />
<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
<link rel="micropub" href="https://infomicro.herokuapp.com/api/webmention" />
<link href="https://instagram.com/infominer33" rel="me">
<link rel="webmention" href="https://webmention.herokuapp.com/api/webmention" />
<link href="https://twitter.com/infominer33" rel="me">
<link href="https://github.com/infominer33" rel="me">
<link href="https://keybase.io/infominer" rel="me">
<link rel="pgpkey" href="https://infominer.id/indieweb/key.pub">
<link href="https://infomicro.herokuapp.com/" rel="me"/>
 -->
</head>
